body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #070707;
    margin: auto;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.efeito-txt-home , .efeito-img-home, .texts-about, .img-about, .title-skills, .list, .portfolio, .testimonials-tittle, .main-testimonials, .final-contact{
    visibility: hidden;
}



.cabecalho {
    background-color: #070707;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo-cabecalho {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.text-cabecalho {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    margin-right: 170px;
    gap: 80px;
}

.botoes-cabecalho {
    font-size: 14px;
}

.botoes-cabecalho:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: #8C52FF;
}

.btn-abrir-menu{
    display: none;
}

.menu-mobile{
    display: none;
}

.overlay-menu{
    display: none;
}

.href{
    text-decoration: none;
    color: white;
}

.home {
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home {
    width: 500px;
    height: 800px;
    display: flex;
    align-items: center;
}

.dev-img {
    width: 450px;
    height: 450px;
    border-bottom: 3px solid #8C52FF;
    margin: auto;
}

.texts-home {
    width: 45%;
}

.text-1 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 150px;
    font-size: 60px;
}

.text-2 {
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    color: white;
    padding-top: 20px;
    font-size: 18px;
}

.botoes {
    padding-top: 30px;
    font-size: 20px;
}

.home .texts-home .botoes .contact-me {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border-style: none;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.home .texts-home .botoes .contact-me:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: #8C52FF;
    color: white;
}

.home .texts-home .botoes .contact-me a{
    color: black;
    text-decoration: none;
}

.home .texts-home .botoes .contact-me a:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: #8C52FF;
    color: white;
}

.home .texts-home .botoes .my-work a{
    color: black;
    text-decoration: none;
}

.home .texts-home .botoes .my-work a:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: #8C52FF;
    color: white;
}

.my-work {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border-style: none;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.my-work:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: white;
    background-color: #8C52FF;
}

.social-div-home {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}


.about-me {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts-about {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-about {
    border-bottom: #8C52FF 5px solid;
    width: 210px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.subtitle-about {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    font-size: 26px;
    color: #8C52FF;
}

.p-about {
    width: 600px;
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    padding-top: 10px;
    font-size: 18px;
    color: white;
    padding-bottom: 25px;
}

.img-about {
    gap: 20px;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-jp {
    border-radius: 50%;
    width: 550px;
    height: 550px;
    border: 3px solid #8C52FF;
}

.download-cv {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #8C52FF;
    color: white;
    border-style: none;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.download-cv:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: #8C52FF;
    background-color: white;
}

.social-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.social-g {
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.social-g:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    box-shadow: #8C52FF 0px 0px 54px;
}

.social-l {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.social-l:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    box-shadow: #8C52FF 0px 0px 54px;
}

.social-git {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.social-git:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    box-shadow: #8C52FF 0px 0px 54px;
}


.my-skills {
    width: 100%;
    height: 800px;
    position: relative;

    & .list {
        width: 50vw;
        height: 70%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .language-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 60%;
                }
            }
        }

        & .content {
            position: absolute;
            right: 100px;
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 20px;

            & .lang-information {
                font-weight: bold;
                color: #d9d9d9
            }

            & h2 {
                font-family: 'Outfit', sans-serif;
                font-weight: bold;
                font-size: 6em;
                line-height: 1em;
                color: #8C52FF;
            }

            & .description {
                font-family: 'Outfit', sans-serif;
                font-weight: lighter;
                color: white;
                font-size: 17px;
                text-align: right;
                max-width: 400px;
            }
        }
    }

    .arrows {
        width: 60vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {

            & img {
                transform: scale(-1);
            }
        }

        & button {
            cursor: pointer;
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;

            & img {
                width: 30px;
                margin-top: 4px;
            }

            &:hover {
                cursor: pointer;
                background-color: #8C52FF;
                transition: ease-in-out 0.5s;
                color: white;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 60%;
        height: 200px;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-family: 'League-Gothic', sans-serif;
            font-weight: lighter;
            font-size: 3em;
            color: white;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 30px;
                height: 5px;
                background-color: #d9d9d9;
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: #791fd3;
            }
        }
    }
}

.title-skills {
    margin: auto;
    align-items: center;
    width: 200px;
    border-bottom: 5px solid #8C52FF;
}

.myskills {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
}

.my-skills {
    height: 1000px;
    padding-top: 140px;

    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .language-img {
                & img {
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .lang-information,
                .titulo-linguagem,
                .description,
                .saiba-mais {
                    transform: translateX(cacl(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;

                }

                & .titulo-linguagem {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .content {

                & .lang-information,
                .titulo-linguagem,
                .description {
                    transform: translateX(0);
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 1;
                }
            }
        }
    }
}

.portfolio {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    width: 100vw;
    height: 1000px;
}

.portfolio h2 {
    color: #8C52FF;
}

.portfolio .list-portfolio .portfolio-item {
    width: 100%;
    height: 100%;
    position: absolute;
}

.portfolio .list-portfolio .portfolio-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.portfolio .list-portfolio .portfolio-item .conteudos-portfolio {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color-interpolation-filters: white;
    text-shadow: 1px 1px 0px black;
}


.portfolio .list-portfolio .portfolio-item .title-portfolio {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.portfolio .list-portfolio .portfolio-item .p-portfolio {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5em;
    width: 80%;
}

.portfolio .list-portfolio .portfolio-item .buttons-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    margin-top: 20px;
    gap: 5px;
}

.portfolio .list-portfolio .buttons-portfolio a{
    text-decoration: none;
    color: black;
    padding: 9px;
}

.portfolio .list-portfolio .buttons-portfolio .acessar{
    text-decoration: none;
    color: white;
}

.portfolio .list-portfolio .buttons-portfolio a:hover{
    cursor: pointer;
    background-color: #8C52FF;
    transition: 0.7s;
    color: white;
}

.portfolio .list-portfolio .portfolio-item .buttons-portfolio button{
    border: none;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    border-radius: 25px;
}

.portfolio .list-portfolio .portfolio-item .buttons-portfolio  button:hover{
    background-color: #8C52FF;
    color: white;
    transition: 0.7s;
}

.portfolio .list-portfolio .portfolio-item .buttons-portfolio button:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.portfolio .list-portfolio .portfolio-item .buttons-portfolio button:nth-child(2):hover {
    background-color: #8C52FF;
    border: none;
    color: white;
}

.portfolio .thumb {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 33%
}

.portfolio .thumb .thumb-item {
    width: 150px;
    height: 230px;
    position: relative;
    z-index: 2;
}

.portfolio .thumb .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.portfolio .thumb .content {
    position: absolute;
    bottom: 10px;
    padding-left: 8px;
}

.portfolio .thumb .thumb-item .content h3 {
    color: white;
}

.portfolio .thumb .thumb-item .content p {
    font-size: 12px;
    color: white;
    text-shadow: 0 0 3px black;

}


.portfolio .setas-portfolio {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    width: 300px;
    left: 42.5%;
}

.portfolio .setas-portfolio button {
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: white;
    color: #8C52FF;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.3em;
}

.portfolio .setas-portfolio button:hover {
    background-color: #8C52FF;
    color: white;
    transition: 0.7s;
}

.portfolio.next .thumb {
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from {
        transform: translateX(150px);
    }
}

.portfolio.next .thumb .thumb-item:nth-last-child(1) {
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .title-portfolio,
.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .p-portfolio,
.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .buttons-portfolio {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .title-portfolio {
    animation-delay: 0.5s;
}

.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .p-portfolio {
    animation-delay: 0.7s;
}

.portfolio .list-portfolio .portfolio-item:nth-last-child(1) .conteudos-portfolio .buttons-portfolio {
    animation-delay: 0.9s;
}

.portfolio.next .list-portfolio .portfolio-item:nth-last-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    padding-top: 33%;
    left: 60%;
    border-radius: 30px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to {
        padding-top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

.portfolio.back .list-portfolio .portfolio-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideMainImage 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideMainImage {
    to {
        width: 135px;
        height: 200px;
        border-radius: 10px;
        left: 60%;
        padding-top: 33%;
    }
}

.testimonials {
    width: 100%;
}

.testimonials-tittle {
    padding-top: 100px;
    width: 300px;
    margin: auto;
}

.h2-testimonials {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    border-bottom: 5px solid #8C52FF;
    padding-top: 30px;
}

.card{
    width: 300px;
    height: 450px;
    background-color: #161616;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.img-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: solid 2px #8C52FF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.text-card{
    text-align: center;
    color: white;
    width: 200px;
    margin: 0 auto;
    font-size: 1.1em;
}

.quote{
    color: #8C52FF;
    font-size: 3em;
    margin: 0;
}

.main-testimonials{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.texts-contact{
    gap: 20px;
    width: 100%
}

.contact-tittle{
    font-size: 2em;
    padding-left: 200px;
    color: #8C52FF;
    font-family: 'Outfit', sans-serif;
}

.contact-p{
    padding-top: 20px;
    padding-left: 200px;
    font-size: 1em;
    color: white;
    font-family: 'Outfit', sans-serif;  
    width: 70%;
}

.social-contact{
    padding: 20px 200px;
}

.contactsocial {
    font-size: 2em;
    color: white;
    padding: 5px;
}

.contactsocial:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
    box-shadow: #8C52FF 0px 0px 54px;
}